#title{
	font-family: 'Kanit', sans-serif;
	text-align: center;
	color: #000000;
	font-size: 100px;
}

#menu{
	font-family: 'Kanit', sans-serif;
	text-align: center;
	color: #000000;
	font-size: 50px;
}

#temas{
	font-family: 'Kanit', sans-serif;
	text-align: center;
	color: #000000;
	font-size: 20px;
}
#texto{
	font-family: 'Kanit', sans-serif;
	text-align: left-side;
	color: #000000;
	font-size: 20px;
}
#background{
	background-color: gainsboro
}
#title{
	font-family: 'Patua One', cursive;
	text-align: center;
	font-size: 50px;
}	
#bannerHome{
	grid-template-columns: 1fr;
	background-image: image("https://api.integracommerce.com.br/Content/images/astronautaIntegra.jpg");
	object-fit: cover;
	width: 1200px;
	height: 600px;
	object-position: 0% 0%;
}


